<div class="col-md-7">
    <div class="card mb-1">
        <div class="row no-gutters">
            <div class="col-md-2">
                <img src="{{ post.author.avatar(256) }}" class="w-100"
                     alt="{{ post.author.username }}'s profile picture">
            </div>
            <div class="col-md-10">
                <div class="card-body">
                    <p class="card-text">{{ post.body }}</p>
                    <p class="card-text"><a href="{{ url_for('profile',username=post.author.username) }}" class="card-link">{{ post.author.username }}</a> at <small class="text-muted">{{ post.timestamp }}</small></p>
                </div>
            </div>
        </div>
    </div>
</div>