{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<h2>Hi, {{ current_user.username }}</h2>
{% if form %}
<div class="row justify-content-center">
    <div class="col-md-6">
        {{ wtf.quick_form(form) }}
    </div>
</div>
{% endif %}
<div class="row justify-content-center">
    {% for post in posts %}
    {% include "_post.html" %}
    {% endfor %}
</div>
<div class="row justify-content-center">
    {% if prev_url %}
        <div class="col-sm-2">
            <a class="btn btn-outline-primary btn-sm" href="{{ prev_url }}">&laquo; Newer posts</a>
        </div>
    {% endif %}
    {% if next_url %}
        <div class="col-sm-2">
            <a class="btn btn-outline-primary btn-sm" href="{{ next_url }}">Older posts &raquo;</a>
        </div>
    {% endif %}
</div>
{% endblock %}